/* Global CSS */

[x-cloak] {
    display: none !important;
}

.clickable-light {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    cursor: pointer;
}

.clickable-light:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.clickable-dark {
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    cursor: pointer;
}

.clickable-dark:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.bg-lessdark {
    background-color: #1a1a1a;
}

.bg-moredark {
    background-color: #0d0d0d;
}

.bg-dothingsgrey {
    background-color: #444444;
}

.bg-lesslight {
    background-color: #ececec;
}

.text-notsolight {
    color: #bfbfbf;
}
