<div class="card-small">
    <div class="card-header">
        <div class="card-title h5">Card Title</div>
        <div class="card-subtitle text-gray">Card Subtitle</div>
    </div>
    <div class="card-body">
        <p>Card content</p>
    </div>
    <div class="card-footer">
        <p>Card Footer</p>
    </div>
</div>
<div class="card-small">
    <div class="card-header">
        <div class="card-title h5">Card Title</div>
        <div class="card-subtitle text-gray">Card Subtitle</div>
    </div>
    <div class="card-body">
        <p>Card content</p>
    </div>
    <div class="card-footer">
        <p>Card Footer</p>
    </div>
</div>
<div class="card-small">
    <div class="card-header">
        <div class="card-title h5">Card Title</div>
        <div class="card-subtitle text-gray">Card Subtitle</div>
    </div>
    <div class="card-body">
        <p>Card content</p>
    </div>
    <div class="card-footer">
        <p>Card Footer</p>
    </div>
</div>
<div class="card-small">
    <div class="card-header">
        <div class="card-title h5">Card Title</div>
        <div class="card-subtitle text-gray">Card Subtitle</div>
    </div>
    <div class="card-body">
        <p>Card content</p>
    </div>
    <div class="card-footer">
        <p>Card Footer</p>
    </div>
</div>
<div class="card-small">
    <div class="card-header">
        <div class="card-title h5">Card Title</div>
        <div class="card-subtitle text-gray">Card Subtitle</div>
    </div>
    <div class="card-body">
        <p>Card content</p>
    </div>
    <div class="card-footer">
        <p>Card Footer</p>
    </div>
</div>
<div class="card-small">
    <div class="card-header">
        <div class="card-title h5">Card Title</div>
        <div class="card-subtitle text-gray">Card Subtitle</div>
    </div>
    <div class="card-body">
        <p>Card content</p>
    </div>
    <div class="card-footer">
        <p>Card Footer</p>
    </div>
</div>