{% extends extend %}

{% block top_nav %}{# MENU DISABLED #}{% endblock %}

{% block body %}
    <div x-data x-init="$refs.body.className = 'bg-dothingsgrey'" class="d-flex justify-content-center">

        <div class="login-card">
            <h2 class="mb-4">Login</h2>
            <form method="get" action="{{ url_for('pika_example.index') }}">
                {{ login_form.username }}
                {{ login_form.password }}
                {{ login_form.submit }}
            </form>
        </div>

    </div>
{% endblock %}
