{% extends extend %}
{% set test_fragment_url = url_for(bp_name + '.fragment_test') %}

{% block container %}

    {# The fragmentor works like $store.fragmentor.get(endpoint_to_fetch_jinja, current_element, time_delay) #}

    <div x-data style="width: 100%; padding-bottom: 50px;">
        <div style="display: flex; justify-content: center; padding: 20px;" x-fragmentor:get="{{ test_fragment_url }}">
            <img src="{{ url_for('pikas_admin.static', filename='img/puff.svg') }}" alt="loading...">
        </div>

        <p style="text-align: center">Below is sending a get request to /fragment/client_card .
            This route has a sleep delay, the loading graphic is what is being replaced once the response has returned 200.</p>

        <div style="display: flex; justify-content: center; padding: 20px;" x-fragmentor:get.delay.500ms="{{ test_fragment_url }}">
            <img src="{{ url_for('pikas_admin.static', filename='img/puff.svg') }}" alt="loading...">
        </div>

        <div style="height: 2000px; width: 100%; margin: 10px; border: 1px solid black; text-align: center">
            <p>This is a blank box used to test AlpineJS intersect.
                When the Client card below comes into view, it should send a get request to the client_card endpoint.</p>
        </div>

        <p style="text-align: center">Below is an example of alpinejs intersect. This will only load the get function as soon as the
            element comes into view. </p>
        <p style="text-align: center">There's currently half a second delay on the get request. It is requesting from /fragment/blogs</p>


        <p style="text-align: center">Using Alpine intersect, the following will only load when it comes into the viewport
            This is also an example of the time delay built into the fragmentor</p>

        <div style="display: flex; justify-content: center; padding: 20px;" x-intersect="$fragmentor('{{ test_fragment_url }}')">
            <img src="{{ url_for('pikas_admin.static', filename='img/puff.svg') }}" alt="loading...">
        </div>
    </div>

{% endblock %}
