<!doctype html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block _title %}{# Populate this in blueprint template #}{% endblock %}
    </title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('pika.static', filename='css/global.css') }}">
    <!-- Bootstrap CSS Only -->
    <link rel="stylesheet" href="{{ url_for('pika.static', filename='css/bootstrap/bootstrap.min.css') }}">

    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@uilix/fragmentor@0.0.5/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Local -->
    <script defer src="{{ url_for('pika.static', filename='js/alpinejs_local.js') }}"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- JS Local -->
    <script defer src="{{ url_for('pika.static', filename='js/sop.js') }}"></script>

    {% block _head %}{# Populate this in blueprint template #}{% endblock %}

</head>

<body>
<div x-data class="w-100 h-100" x-bind:class="$store.darkMode.on ? 'bg-lessdark text-notsolight' : 'bg-body'">

    {% block replace_body %}

        <div style="width: 100%; border-bottom: 1px solid white" class="p-1 bg-dark">
            <a class="text-light" href="{{ url_for('pika_example.login') }}">Login Page</a>
        </div>

        {% block top_nav %}
            {% include 'pika/includes/top_nav.html' %}
        {% endblock %}

        {% block replace_container %}
            <div class="container">
                {% block container %}

                    {# Populate this in blueprint template #}

                {% endblock %}
            </div>
        {% endblock %}

    {% endblock %}

</div>

{% block _eop %}{# End of Page Block #}{# Populate this in blueprint template #}{% endblock %}
<script src="{{ url_for('pika.static', filename='js/eop.js') }}"></script>

</body>
</html>
